In [22]:
from sqlalchemy import create_engine, MetaData, Table

Connect to postgresql database:

In [48]:


db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

Read tables names:

In [49]:
db.table_names()

['store',
 'category',
 'film_category',
 'country',
 'actor',
 'language',
 'payment',
 'city',
 'film',
 'address',
 'staff',
 'film_actor',
 'customer',
 'rental',
 'inventory']

Exploring relationship between staff and country tables:

In [50]:
metadata = MetaData()
table = Table('staff', metadata , autoload=True, autoload_with=db)
print(table.foreign_keys)

{ForeignKey('address.address_id')}

I can see that there is a column address_id which is a foreign key to the address table. Now I can find information about address table:

In [51]:
table = Table('address', metadata , autoload=True, autoload_with=db)
print(table.foreign_keys)

{ForeignKey('city.city_id')}

I can see that there is city_id - foreign key to city table. And city table contains the key to country table:

In [52]:
table = Table('city', metadata , autoload=True, autoload_with=db)
print(table.foreign_keys)

{ForeignKey('country.country_id')}

Exploring relationship between actor, language and film tables:

In [53]:
table = Table('film', metadata , autoload=True, autoload_with=db)
print(table.foreign_keys)

{ForeignKey('language.language_id')}

I can see that the film table contains language_id - foreign key to language table. Exploring film_actor table gives me information that it is an intermediate table between film and actor tables - it contains film_id and actor_id:

In [54]:
table = Table('film_actor', metadata , autoload=True, autoload_with=db)
print(table.foreign_keys)

{ForeignKey('film.film_id'), ForeignKey('actor.actor_id')}

How many categories of films are in the rental?

In [55]:
from sqlalchemy import select
table = Table('category', metadata , autoload=True, autoload_with=db)
stmt = select([table])

# Execute the statement and fetch the results
results = db.execute(stmt).fetchall()

# Print the number of categories
len(results)

16

Display list of categories with limit 2:

In [56]:
results = db.execute(stmt).fetchmany(size=2)
for result in results:
    print(result)

(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27))
(2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))

Find the oldest and youngest film in rental:

In [62]:
stmt = "select title from film where release_year = (select max(release_year) from film)"
result = db.execute(stmt).fetchone()
print(f"The youngest film: {result[0]}")

The youngest film: Chamber Italian

In [63]:
stmt = "select title from film where release_year = (select min(release_year) from film)"

result = db.execute(stmt).fetchone()
print(f"The oldest film: {result[0]}")

The oldest film: Chamber Italian

The oldest and the newest film is the same.

In [13]:
stmt = "select distinct release_year from film"

result = db.execute(stmt).fetchall()
print(result)

[(2006,)]

It turns out that all of the films in the table have the same release_year.

Find all actors with a name: Olympia, Julia, Ellen:

In [70]:

table = Table('actor', metadata , autoload=True, autoload_with=db)
stmt = select([table.c.first_name, table.c.last_name]).where(table.c.first_name.in_(('Olympia', 'Julia', 'Ellen')))
results = db.execute(stmt).fetchall()
for result in results:
        print(result)

('Julia', 'Mcqueen')
('Julia', 'Barrymore')
('Ellen', 'Presley')
('Olympia', 'Pfeiffer')
('Julia', 'Zellweger')
('Julia', 'Fawcett')

Looking at the results, the query was probably executed correctly.

Connect to MySQL database:

In [72]:

db_string = "mysql://bauer1:W0JjW9jge2SYwwYh@mysql.agh.edu.pl:3306/bauer1"

db = create_engine(db_string)

Read names of the tables:

In [28]:
db.table_names()

['customers',
 'employees',
 'offices',
 'orderdetails',
 'orders',
 'payments',
 'productlines',
 'products']

Explore the relationships between the customers and employees tables:

In [30]:
table = Table('customers', metadata , autoload=True, autoload_with=db)
print(table.foreign_keys)

{ForeignKey('employees.employeeNumber')}

Customers table contains a key to employees table.

Explore the relationships between customers, payments and orders:

In [35]:
table = Table('payments', metadata , autoload=True, autoload_with=db)
print(table.foreign_keys)

{ForeignKey('customers.customerNumber')}

Payments table contains a key to customers table. 
Exploring a orders table gives me information that it contains a key to customers table as well:

In [37]:
table = Table('orders', metadata , autoload=True, autoload_with=db)
print(table.foreign_keys)

{ForeignKey('customers.customerNumber')}

How many products are in the store?

In [73]:
table = Table('products', metadata , autoload=True, autoload_with=db)
stmt = select([table])
results = db.execute(stmt).fetchall()
len(results)

110

Display list of offices with limit 5:

In [74]:
table = Table('offices', metadata , autoload=True, autoload_with=db)
stmt = select([table])
results = db.execute(stmt).fetchmany(5)
for result in results:
    print(result)

('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA')
('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA')
('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA')
('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA')
('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan')

Find the oldest and newest payments in rental:

In [46]:
stmt = """select * from payments 
          where paymentDate = (select min(paymentDate) from payments)"""
result = db.execute(stmt).fetchone()
print(f"The oldest payment: {result}")

The oldest payment: (363, 'IS232033', datetime.date(2003, 1, 16), Decimal('10223.83'))

In [47]:
stmt = """select * from payments 
          where paymentDate = (select max(paymentDate) from payments)"""
result = db.execute(stmt).fetchone()
print(f"The newest payment: {result}")

The newest payment: (353, 'HJ618252', datetime.date(2005, 6, 9), Decimal('46656.94'))